@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Continental Automotive GmbH<br />
    Siemensstraße 12<br />
    93055 Regensburg<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:test@example.com">test@conti.de</a><br />
</address>