@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET on Azure</h1>
    <p class="lead">With the power of Azure, deploying web apps gets a simple as it can be.</p>
    <h2><p class="lead"><b>Powered by Continental Automotive GmbH - Prototyping and Consulting</b></p></h2>
</div>
